node_modules
.pnpm-store
.stylelintcache

*.local.md
*.heapsnapshot

backup-data

.DS_Store

# Transcript files
/apps/backend/files/json/
/apps/backend/files/xml/
/apps/backend/private_data

# Audio files
/apps/backend/persistent