# Enforce a 3-day (4320 minutes) cooldown period for all new packages
# 1 day = 1440, 3 days = 4320, 7 days = 10080
minimumReleaseAge=4320
engine-strict=true
package-manager-strict=false
shell-emulator=true
shared-workspace-lockfile=true
public-hoist-pattern[]=*@tailwindcss/vite*
public-hoist-pattern[]=@nuxtjs/mdc*
public-hoist-pattern[]=remark*
public-hoist-pattern[]=rehype*
public-hoist-pattern[]=unified*
public-hoist-pattern[]=unist*
public-hoist-pattern[]=parse5*
public-hoist-pattern[]=debug*
