engine-strict=true
package-manager-strict=false
shell-emulator=true
shared-workspace-lockfile=true
public-hoist-pattern[] = *@tailwindcss/vite*
public-hoist-pattern[]=@nuxtjs/mdc*
public-hoist-pattern[]=remark*
public-hoist-pattern[]=rehype*
public-hoist-pattern[]=unified*
public-hoist-pattern[]=unist*
public-hoist-pattern[]=parse5*
public-hoist-pattern[]=debug*
