@import "tailwindcss" theme(static);
@import "@nuxt/ui";

/* You can't use primary: 'black' in your app.config because black doesn't have multiple shades.
To use solid black or white as your primary color, set it directly in your main.css file: */
:root {
	--ui-primary: oklch(0% 0 0deg);
	--ui-secondary: oklch(52.14% 0.168 358.8deg);
	--ui-container: 1536px;
}

.dark {
	--ui-primary: oklch(100% 0.0001 271.152deg);
	--ui-secondary: oklch(65.14% 0.168 358.8deg);
}

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--ui-header-height: 63px;
	--container-8xl: 90rem;
}

@layer base {
	html {
		scrollbar-gutter: stable;
	}

	:root {
		--v-onboarding-overlay-z: 40;
		--v-onboarding-step-z: 50;
	}

	/* https://hanki.dev/tailwind-html2canvas-text-shift-down/ */
	img {
		@apply inline-block;
	}

	.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}

/* TIPTAP CMS SPECIFIC */
@layer base {
	#text-editor .toolbar > button {
		@apply flex justify-center items-center text-xl size-8 border-none my-2 mx-1 rounded-md cursor-pointer appearance-none bg-default text-default;
	}

	#text-editor .toolbar > button.active {
		@apply bg-inverted text-inverted;
	}

	#text-editor .align-dropdown > button {
		@apply h-8 border-none cursor-pointer rounded-md appearance-none bg-default text-default;
	}

	#text-editor .align-dropdown > .dropdown-content {
		@apply absolute right-0 left-0 z-10 rounded-md bg-default ring ring-default shadow-lg;
	}

	#text-editor .align-dropdown > .dropdown-content a {
		@apply block cursor-pointer text-center py-1.5 px-3;
	}

	#text-editor .align-dropdown > .dropdown-content a:hover,
	#text-editor .align-dropdown > .dropdown-content a.active {
		@apply bg-inverted text-inverted;
	}

	/* stylelint-disable-next-line selector-class-pattern */
	#text-editor .ProseMirror {
		@apply px-2 outline-hidden;
	}
}

/* ARTICLE CONTENT STYLING */
@layer base {
	.article-content .divider {
		@apply w-0.5 h-6 mr-1.5 bg-[#333];
	}

	.article-content ul p,
	.article-content ol p {
		@apply inline;
	}

	/* stylelint-disable-next-line selector-class-pattern */
	.article-content .ProseMirror > p:first-child,
	.article-content > p:first-child {
		@apply mt-2;
	}

	.article-content h3,
	h4,
	h5,
	h6 {
		@apply font-semibold;
	}

	.article-content h2 {
		@apply text-3xl sm:text-2xl font-bold mt-8 mb-4;
	}

	.article-content h3 {
		@apply text-2xl sm:text-xl font-semibold mt-6 mb-3;
	}

	.article-content h4 {
		margin: 1.12em 0;
		font-size: 1em;
	}

	.article-content h5 {
		margin: 1.5em 0;
		font-size: 0.83em;
	}

	.article-content h6 {
		margin: 1.67em 0;
		font-size: 0.75em;
	}

	.article-content a {
		@apply text-secondary underline cursor-pointer;
	}

	.article-content > p {
		@apply leading-relaxed  mt-4;
	}

	.article-content ul,
	.article-content ol {
		@apply list-inside pl-5 mt-2;
	}

	.article-content ul {
		@apply list-disc;
	}

	.article-content ol {
		@apply list-decimal;
	}

	.article-content li {
		@apply mt-2;
	}

	.article-content blockquote {
		@apply italic text-muted border-l-4 border-secondary pl-4 my-6;
	}

	.article-content img {
		@apply rounded-lg shadow-md mt-6 mb-4 w-full max-w-fit;
	}

	.article-content figcaption {
		@apply text-sm italic text-center;
	}

	.article-content pre {
		@apply bg-gray-100 text-sm p-4 rounded-lg overflow-x-auto my-6;
	}

	.article-content code {
		@apply bg-gray-100 px-1 py-0.5 rounded text-sm text-red-600;
	}

	/* ─── table styling ─────────────────────────── */
	.article-content table {
		@apply w-full table-fixed border-collapse text-sm my-6 border border-default rounded-md;
	}

	.article-content th {
		@apply bg-muted;
	}

	/* cells – add vertical and horizontal borders */
	.article-content th,
	.article-content td {
		@apply py-2 px-3 border-b border-l border-default break-words;
	}

	/* remove the extra left border on the first column */
	.article-content th:first-child,
	.article-content td:first-child {
		@apply border-l-0;
	}

	.article-content caption {
		@apply text-muted text-sm mt-2;
	}
}
