@import "tailwindcss";
@import "tw-animate-css";

@source "../../components/";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-collapsible-down: collapsible-down 0.2s ease-out;
	--animate-collapsible-up: collapsible-up 0.2s ease-out;

	@keyframes accordion-down {
		from {
			height: 0;
		}

		to {
			height: var(--reka-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--reka-accordion-content-height);
		}

		to {
			height: 0;
		}
	}

	@keyframes collapsible-down {
		from {
			height: 0;
		}

		to {
			height: var(--reka-collapsible-content-height);
		}
	}

	@keyframes collapsible-up {
		from {
			height: var(--reka-collapsible-content-height);
		}

		to {
			height: 0;
		}
	}
}

:root {
	--background: oklch(100% 0 0deg);
	--foreground: oklch(14.5% 0 0deg);
	--card: oklch(100% 0 0deg);
	--card-foreground: oklch(14.5% 0 0deg);
	--popover: oklch(100% 0 0deg);
	--popover-foreground: oklch(14.5% 0 0deg);
	--primary: oklch(20.5% 0 0deg);
	--primary-foreground: oklch(98.5% 0 0deg);
	--secondary: oklch(97% 0 0deg);
	--secondary-foreground: oklch(20.5% 0 0deg);
	--muted: oklch(97% 0 0deg);
	--muted-foreground: oklch(55.6% 0 0deg);
	--accent: oklch(97% 0 0deg);
	--accent-foreground: oklch(20.5% 0 0deg);
	--destructive: oklch(57.7% 0.245 27.325deg);
	--destructive-foreground: oklch(57.7% 0.245 27.325deg);
	--border: oklch(92.2% 0 0deg);
	--input: oklch(92.2% 0 0deg);
	--ring: oklch(70.8% 0 0deg);
	--chart-1: oklch(64.6% 0.222 41.116deg);
	--chart-2: oklch(60% 0.118 184.704deg);
	--chart-3: oklch(39.8% 0.07 227.392deg);
	--chart-4: oklch(82.8% 0.189 84.429deg);
	--chart-5: oklch(76.9% 0.188 70.08deg);
	--radius: 0.625rem;
	--sidebar: oklch(98.5% 0 0deg);
	--sidebar-foreground: oklch(14.5% 0 0deg);
	--sidebar-primary: oklch(20.5% 0 0deg);
	--sidebar-primary-foreground: oklch(98.5% 0 0deg);
	--sidebar-accent: oklch(97% 0 0deg);
	--sidebar-accent-foreground: oklch(20.5% 0 0deg);
	--sidebar-border: oklch(92.2% 0 0deg);
	--sidebar-ring: oklch(70.8% 0 0deg);
}

.dark {
	--background: oklch(14.5% 0 0deg);
	--foreground: oklch(98.5% 0 0deg);
	--card: oklch(14.5% 0 0deg);
	--card-foreground: oklch(98.5% 0 0deg);
	--popover: oklch(14.5% 0 0deg);
	--popover-foreground: oklch(98.5% 0 0deg);
	--primary: oklch(98.5% 0 0deg);
	--primary-foreground: oklch(20.5% 0 0deg);
	--secondary: oklch(26.9% 0 0deg);
	--secondary-foreground: oklch(98.5% 0 0deg);
	--muted: oklch(26.9% 0 0deg);
	--muted-foreground: oklch(70.8% 0 0deg);
	--accent: oklch(26.9% 0 0deg);
	--accent-foreground: oklch(98.5% 0 0deg);
	--destructive: oklch(39.6% 0.141 25.723deg);
	--destructive-foreground: oklch(63.7% 0.237 25.331deg);
	--border: oklch(26.9% 0 0deg);
	--input: oklch(26.9% 0 0deg);
	--ring: oklch(43.9% 0 0deg);
	--chart-1: oklch(48.8% 0.243 264.376deg);
	--chart-2: oklch(69.6% 0.17 162.48deg);
	--chart-3: oklch(76.9% 0.188 70.08deg);
	--chart-4: oklch(62.7% 0.265 303.9deg);
	--chart-5: oklch(64.5% 0.246 16.439deg);
	--sidebar: oklch(20.5% 0 0deg);
	--sidebar-foreground: oklch(98.5% 0 0deg);
	--sidebar-primary: oklch(48.8% 0.243 264.376deg);
	--sidebar-primary-foreground: oklch(98.5% 0 0deg);
	--sidebar-accent: oklch(26.9% 0 0deg);
	--sidebar-accent-foreground: oklch(98.5% 0 0deg);
	--sidebar-border: oklch(26.9% 0 0deg);
	--sidebar-ring: oklch(43.9% 0 0deg);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground text-lg sm:text-base;
	}

	html {
		scroll-behavior: smooth;
	}

	:root,
	body,
	#__nuxt {
		block-size: 100%;
		isolation: isolate;
	}

	.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.shadow-sharp {
		box-shadow:
			0 1px 1px rgb(0 0 0 / 15%),
			0 2px 2px rgb(0 0 0 / 15%),
			0 4px 4px rgb(0 0 0 / 15%),
			0 8px 8px rgb(0 0 0 / 15%);
	}
}
