@import "tailwindcss";
@import "@nuxt/ui";

/* https://github.com/nuxt/nuxt/issues/32575 */
@source "../../../../ui/app/components/**/*";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}
