@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
	--font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
	--ui-header-height: 63px;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 1.25rem;
		padding-left: 1.25rem;
	}
}
