@import "tailwindcss";
@import "@nuxt/ui";

@theme {
	--font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}

	:root,
	body,
	#__nuxt {
		block-size: 100%;
		isolation: isolate;
	}

	.container {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 2rem;
		padding-left: 2rem;
	}
}
